
# -- G I T  I G N O R E -------------------------------------------------------

# ignore external dependencies
/external

# ignore clangd cache
/.cache

# ignore neovim logs
/.nvimlog

# ignore object files
/sources/**/*.o

# ignore dependency files
/sources/**/*.d

# ignore shader files
/shaders/**/*.spv

# ignore main executable
/renderx

# ignore compile database
/compile_commands.json

# ignore ninja build file
/build.ninja

# ignore ninja files
/.ninja*
